[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DetMCD"]
	path = DetMCD
	url = https://github.com/cran/DetMCD
[submodule "FastPCS"]
	path = FastPCS
	url = https://github.com/cran/FastPCS
[submodule "FastRCS"]
	path = FastRCS
	url = https://github.com/cran/FastRCS
